@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
*{margin: 0;padding: 0;font-size: 14px;font-family: 'Khand', 'Noto Sans KR', sans-serif;}
body
{
    text-align: center;
    margin: 0 auto;
}
.container{
    /* position: absolute; */
    /*width: 1500px;*/
    /*height: 1500px;*/
    /*margin: 50px 150px 0px -50px;*/
    /* top: 40%;
    left: 40%; */
    width: 1200px;margin: auto;
    padding-top: 100px;
}
.box {
    /* position: absolute; */
    border: 1px solid #ccc;
    width: 33.33%;
    height: 300px;
    padding: 10px 10px 10px 10px;
    float: left;
    box-sizing: border-box;
}
.box1 {
    /* margin: 10px 10px 10px -300px; */
}
.box2 {
    /* margin: 10px 10px 10px 50px; */
    background: #333;
}
.box3 {
    /* margin: 10px 10px 10px 400px; */
}
.boxUp{
    /* margin-top: -250px; */
}
.boxDown{
    /* margin-top: 450px; */
}
.boxLabel{
    /* border: 1px solid #eee; */
    background-color: #00a0ff;
    text-align: center;
    /* padding: 10px; */
    color: #ffffff;
    font-size: 20px;
}
.boxLabel2{
    padding: 15px 10px 15px 10px;
    margin-bottom: 5px;
}
.calcTbl{
    /* position: absolute;
    width: 150px;
    height: 400px; */
    border: 0;
    float: left;width: 197px;
}
.calcTbl td{    width: 43px;
    height: 37px;
    background-color: #fff;
    display: inline-flex;
    margin: 3px 5px 8px 0px;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    padding: 5px 0px 5px 0px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 3px 0 #a1a1a1, 0 2px 5px rgba(0, 0, 0, .75);
    }
.calcTbl td,
.operTbl td{
    font-size: 20px;
}

.operTbl {
    /* position: absolute;
    margin-left: 150px;
    width: 150px;
    height: 400px; */
      float: right;
      border: 0;
      width: 134px;margin-right: 19px;
}
.operTbl td{min-width: 35px;
    height: 25px;
    background-color: #fff;
    display: inline-flex;
    margin: 3px 5px 8px 0px;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    padding: 5px 0px 5px 0px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 3px 0 #a1a1a1, 0 2px 5px rgba(0, 0, 0, .75);
    }

/* .func {
    border: 1px black solid;
    width: 100px;
    height: 50px;
    margin: 15px 15px 15px 15px;
    font-size: 30px;
    text-align: center;
} */

.exe {
    font-size: 50px;
}

#calcExe{
    /* margin-top: 100px; */
    font-size: 30px;
}

#historyGround div{
    font-size: 25px;
    padding: 5px;
    text-align: left;
    border-bottom:1px solid #eee;
}
#historyGround div:last-child{border-bottom:none}
.color { font-size: 15px;background: #fff;border-radius: 3px;padding:0 6px;display:inline-block;margin-right: 10px;cursor: pointer;font-weight: 300;
    box-shadow: 0 3px 0 #565656, 0 2px 5px rgba(0, 0, 0, .75);}
.color1 { background: red; }
.color2 { background: blue; }
.color3 { background: black; }
.color4 { background: #fff; color: #000;}
.color5 { background: green; }
.color6 { background: yellow; }
.color7 { background: pink; }
.color8 { background: orange; }
.color9 { background: peru; }
.color10 { background: indigo; }
/***/
.vis_num{background: #cddecc;min-height: 226px;border-radius: 10px;margin-top:10px;display: table;width: 100%;}
.vis_center{vertical-align: middle;display: table-cell;}
.db_change{display: block;font-size: 20px;}
.drgg_icon span{display: inline-block;padding: 10px;background: #fff;float: left;margin: 10px;box-shadow: 0 3px 0 #a1a1a1, 0 2px 5px rgba(0, 0, 0, .75);border-radius: 5px;font-size: 28px;}
.drop span{display: inline-block;padding: 10px;background: #fff;float: left;margin: 10px;box-shadow: 0 3px 0 #a1a1a1, 0 2px 5px rgba(0, 0, 0, .75);border-radius: 5px;font-size: 28px;}
#funcExec span{display: block;width:100%;padding: 10px;background: #fff;float: left;margin-top:10px;box-shadow: 0 3px 0 #a1a1a1, 0 2px 5px rgba(0, 0, 0, .75);
  border-radius: 5px;font-size: 28px;    box-sizing: border-box;    margin-bottom: 40px;}
#funcExec .func{display: inline-block;margin-right: 5px;
    width: 74px;
    border: 1px solid #ccc;
    padding: 10px;cursor: pointer;
    border-radius: 6px;background: #333;color: #fff;font-size: 20px;}
.wrap_list01{padding-top: 100px;}
.wrap_list{margin-top: 5px;cursor: pointer;}
.bb_n{border-bottom: none;}
.bt_n{border-top: none;}
.bl_n{border-left: none;}
.br_n{border-right: none;}
