*{
    font-family: '나눔스퀘어', 'helvetica', 'Arial', 'sans-serif';
    margin: 0 auto;
}

body {
    min-width: 540px;
}
@media only screen and (max-width:620px) {
    #wrapper, #board-left, #calculator{
        width: 450px;
        float: none;
    }
}
#header{
    width: 1000px;
    text-align: center;
    font-size: 14pt;
    color: gray;
    margin-top: 20px;
    margin-bottom: 20px;
}
#wrapper{
    width: 1000px;
    height: 500px;
    background-color: white;
    border: 7px lightgray solid;
}
#board-left{
    background-color: white;
    width: 550px;
    float: left;
    border: 20px;
    border-color: gray;
    padding: 20px;
}
#board-header{
    width: 100%;
}
#header-left{
    width: 100px;
    float: left;
}
#header-right{
    width: auto;
}

#content-title{
    cursor: pointer;
    width: 70%;
    float: left;
    text-align: left;
    margin-top: 5px;
    font-size: 20pt;
}
div.gray-line{
    float: left;
    background-color: gray;
    width: 100%;
    height: 3px;
}
img.header-icon{
    width: 30px;
    height: 30px;
    margin: 5px;
    cursor: pointer;
}
img#ic-save{
    float: right;
}
div#board-content{
    float: left;
    width: 100%;
    height: 390px;
    padding: 10px 0;
    overflow-y: scroll;
}
td.titleIO{
    text-align:left;
    font-size: 14pt;
    width: 80px;
}
td.textbox{
    width: 430px;
    height: 17px;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid lightgray;
    text-align: left;
}


/******* calculator *********/
div#calculator{
    float: right;
    width: 410px;
    height: 100%;
}
div.cal-body{
    width: 370px;
    height: 500px;
    margin-top: -2px;
    border-radius: 7px 7px 0 0;
}

div.cal-nametag{
    margin-top: 8px;
    height: 28px;
    padding-right: 50px;
    margin-bottom: -6px;
}
.nametag{
    cursor: pointer;
    float: right;
    font-size: 9pt;
    text-align: center;
    width: 50px;
    padding: 4px;
    border-radius: 7px 7px 0 0;
}
div#tag-button{
    color: white;
    background-color: gray;
}
div#tag-pen{
    color: gray;
    background-color: #ffffb3;
}

/******* calculator button *********/

div#cal-button{
    display: block;
    background-color: gray;
}

div#cal-tag{
    height: 40px;
    padding: 10px 15px;
}
.dropdown{
    cursor: pointer;
    color: white;
    font-size: 9pt;
    border-radius: 10px;
    padding: 2px 9px;
}
.dropdown-content{
    display: none;
    
    background-color: white;
    position: absolute;
    margin-left: 3px;
    min-width: 40px;
    font-size: 9pt;
    color: gray;
    padding: 4px;
    border-radius: 4px;
}
.dropdown-content>p:hover{
    background-color: lightgray;
}
#nummode{
    background-color: darkgray;
}
#calmode{
    background-color: darkgray;
}
#nummode-dropdown{
    left: 890px;
}
#calmode-dropdown{
    left: 950px;
}
#shift{
    background-color: #ffcc00;
    float: right;
    color: #0099cc;
}
table{
    margin: 0 auto;
    margin-top: 5px;
}
.button{
    color: dimgray;
    text-align: center;
    width: 65px;
    height: 18px;
    padding: 5px 0;
    border-radius: 6px;
    border-bottom: 4px darkgray solid;
    cursor: pointer;
}
.button:active{
    border: none;
}

td.number{
    background-color: white;
}
td.operation{
    background-color: #bbbbbb;
    color: white;
}
td.operation2{
    background-color: #aaaaaa;
    color: white;
    border-color: #999999;
}
td#plus, #minus, #multi, #divis, #equal{
    color:orange;
    background-color: dimgray;
    border-color: #555555;
}
td#del, #ac{
    background-color: #ffcc00;
    color: #0099cc;
}

/******* calculator pen *********/
div#cal-pen{
    display: none;
    background-color: #ffffb3;
}
div#pen-input{
    padding-top: 30px;
    padding-bottom: 5px;
    margin: 0 20px;
    width: 330px;
}
div#textbox{
    background-color: white;
    width: 320px;
    height: 17px;
    margin: 7px 0;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid lightgray;
    text-align: left;
}
#pen-panel{
    background-color: #ffff80;
    width: 100%;
    height: 200px;
    margin: 10px 0;
}
#footer{
    width: 1000px;
    margin-top: 50px;
    text-align: center;
    font-size: 8pt;
    color: gray;
}
